fieldset{
    border: 1px solid #d3d3d3;
    margin:0 auto;
    padding: 10px;
}

.alert{
    margin: 0 auto 20px auto;
}

.formHeader{
	background-color:#f0f0f0;
}

.loginForm{
    margin-top: 20px;
}

.form-check{
    margin-left: 10px;
}