<div class="container">
    <div class="alert alert-danger" role="alert" [ngStyle]="{'visibility':visibility}">
        All fields are Mandatory.
    </div>
    <fieldset class="formHeader">
        <h4>Add Employee</h4>
    </fieldset>

    <fieldset>
        <form #empForm="ngForm"> 
            <div class="mb-3">
                <label class="form-label">Id</label>
                <input type="number" name="id" class="form-control" [(ngModel)]="id">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" [(ngModel)]="name">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1" class="form-label">Team</label>
                <select class="form-control" aria-label="Default select example" name="designation" [(ngModel)]="team">
                    <option value="Product Development Team">Product Development Team</option>
                    <option value="Product Testing Team">Product Testing Team</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Designation</label>
                <select class="form-control" aria-label="Default select example" name="designation"
                    [(ngModel)]="designation">
                    <option value="Developer">Developer</option>
                    <option value="Tester">Tester</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Gender</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" [(ngModel)]="gender" id="Male"
                        value="Male">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Male
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" [(ngModel)]="gender" id="Female"
                        value="Female">
                    <label class="form-check-label" for="flexRadioDefault2">
                        Female
                    </label>
                </div>
            </div>
            <!-- <div class="form-group">
                <label for="exampleInputPassword1" class="form-label">Date</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker
                        #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                </div>
            </div> -->
            <div class="row">
                <div class="col-xs-12 col-12 col-md-4 form-group">
                    <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [(ngModel)]="getDate" name="getDate" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }">
                </div>
                <div class="col-xs-12 col-12 col-md-3 form-group">
                    <button class="btn btn-success" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen"
                        type="button">Date Picker</button>
                </div>
            </div>
            <button type="submit" class="btn btn-secondary" (click)="post(empForm.value)">Post</button><br>
            <button type="button" class="btn btn-primary" (click)="send()">Add</button>
        </form>
    </fieldset>
</div>
<h1>{{retPostData}}</h1>
<!-- <li *ngFor="let obj of retPostData">{{obj | json}}</li> -->

<!-- <button (click)="showDate()">
    Show
</button> -->
<!-- <h1>{{dateStrGlobal|date:'yyyy//MM//dd'}}</h1> -->