<div class="row">
    <div class="col">
        <h1>Cart</h1>
    </div>
    <div class="col">
        <button type="button" class="btn btn-info float-right" (click)="buyNow()">Buy Now</button>
    </div>
</div>


<div class="container">

    <ng-container *ngFor="let obj of addedArr">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
                <h4>
                    {{obj.product_name}}
                </h4>
            </div>
            <div class="col col-lg-2">
                    <input type="number" [(ngModel)]="obj.addedQuantity" name="obj.product_name">
            </div>
        </div>
    </ng-container>

</div>