<div class="row">
    <div class="col">
        <h1>Products</h1>
    </div>
    <div class="col">
        <button type="button" class="btn btn-info float-right" [routerLink]="['/cart']">View Cart
            ({{cartCount}})</button>
    </div>
</div>

<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Availability</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let obj of product; let i=index">
                    <th scope="row">{{obj.productName}}</th>
                    <td>{{obj.productavailableQuantity}}</td>
                    <td>{{obj.productDesc}}</td>
                    <td>
                        <button type="button" class="btn btn-info"
                            (click)="add(i);disableBtn($event);">Add</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>

    <form #frm="ngForm" (ngSubmit)="sub(frm)">
        <div class="form-group">
            <label>Product Name</label>
            <input type="text" name="ProductName" class="form-control" placeholder="Enter Product Name" ngModel>
        </div>
    
        <div class="form-group">
            <label>Product Description</label>
            <input type="text" name="ProductDesc" class="form-control" placeholder="Enter Product Description" ngModel>
        </div>
    
        <div class="form-group">
            <label>Product Qty</label>
            <input type="number" name="ProductavailableQuantity" class="form-control" placeholder="Enter Product Qty" ngModel>
        </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

