<div class="row">
    <div class="col">
        <h1>Products</h1>
    </div>
    <div class="col">
        <button type="button" class="btn btn-info float-right" [routerLink]="['/cart']">View Cart ({{cartCount}})</button>
    </div>
</div>

<div class="container">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Availability</th>
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let obj of product; let i=index">
                    <th scope="row">{{obj.product_name}}</th>
                    <td>{{obj.product_availableQuantity}}</td>
                    <td>{{obj.product_desc}}</td>
                    <td>
                        <button type="button" class="btn btn-info" (click)="add(obj.product_id);disableBtn($event);">Add</button>
                    </td>
                </tr>
            </tbody>

        </table>
    </div>
</div>